open3d==0.19.0
easydict
coloredlogs
hnswlib
pytorch-lightning==2.4.0

numpy==1.24.3
scipy==1.10.1
scikit-learn
pandas
opencv-python==4.12.0.88
pyyaml
tqdm
wandb==0.22.0
hydra-core==1.3.2
omegaconf
rich

# install the following packages if using the image-related component
einops
kornia
loguru
yacs